css:
  .legends {
    padding-top: 10px;
  }
  .legends a {
    display: inline-block;
    margin: 0px 5px 0 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 4px;
  }
  #calendar {
    margin-top: 5px;
  }
  .fc-toolbar h2 {
    font-size: 20px;
  }
  a.fc-event {
    cursor: pointer;
  }

javascript:
  setTimeout("location.reload();", 60000);
  var focused_booking = {};
  var uid = #{session[:uid]||0};
  $(document).ready(function() {
    
    $('#calendar').fullCalendar({
      defaultView: 'agendaWeek',
      firstDay: 1, // Mon
      // editable: true,
      allDaySlot: false,
      height: 500,
      defaultDate: "#{(Time.now + 12*3600)}",
      nowIndicator: true,
      scrollTime: '09:00:00',
      minTime: '07:00:00',
      maxTime: '21:00:00',
      eventSources: [
        '/api/v1/upcoming'
      ],
      businessHours: {
          dow: [ 1, 2, 3, 4, 5 ], // Mon-Fri
          start: '9:00',
          end: '20:00',
      },
      eventClick: function(calEvent, jsEvent, view) {
        // Show popup with booking details
        focused_booking = calEvent;
        s = moment(calEvent.start).format('ddd HH:mm');
        e = moment(calEvent.end).format('HH:mm');
        $('#bookingModal').modal();
        $('#bookingModal .modal-title').text(calEvent.purpose + " @ " + calEvent.space);
        $('#bookingModal .modal-body').html("<i>booked by <b>" + calEvent.username + "</b></i><br>" + s + " → " +  e);
        isOwner = calEvent.uid == uid;
        $("#bookingModal button#remove").toggle(isOwner);
        $("#bookingModal button#owner").toggle(!isOwner);
      },
      eventDragStop: function(calEvent, jsEvent, ui, view) {
        console.log(calEvent);
      },
      eventResize: function(calEvent, delta, revertFunc, jsEvent, ui, view) {
        console.log(calEvent);
      }
    });
  });

  function removeBooking() {
    sure = confirm("Are you sure you want to remove this booking?");
    if (!sure) return;

    $.ajax({
      url: '/api/v1/bookings/' + focused_booking.id,
      type: 'DELETE',
      success: function(result) {
        $('#bookingModal').modal('hide');
        $('#calendar').fullCalendar("refetchEvents");
      }
    });
  }

#calendar

.legends
  a.hidden-xs Room colors
  - Space.all.each do |s|
    a style="background-color:#{s.color}"= s.name
  button.btn.btn-info.btn-xs.pull-right data-toggle="modal" data-target="#helpModal" type="button" ?
  - if @current_user
    hr.visible-xs-block
    - if @current_user.role == User::ADMIN
      .btn.btn-xs.pull-right href='/admin'
        | /admin
    .btn.btn-xs.pull-right
      | Logged in as 
      b= @current_user.username


#bookingModal.modal.fade role="dialog" tabindex="-1"
  .modal-dialog.modal-sm role="document"
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
        h4.modal-title#bookingTitle Title
      .modal-body
        p Content
      .modal-footer
        button.btn.btn-danger#remove type="button" onclick="javascript:removeBooking();" Remove Booking
        button.btn#owner Only owner can remove
        button.btn.btn-default data-dismiss="modal" type="button" Close

#helpModal.modal.fade role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
        h4.modal-title#bookingTitle Tips
      .modal-body
        p • Click on booking name to show more details and cancel booking (if you are owner).
        p • More bookings might be hidden, you can scroll the calendar to show other timing.
      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button" Close
